<launch>
  <arg name="x_pos" default="-5.45"/>
  <arg name="y_pos" default="-2.2"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nanoomni_description)/worlds/weld_track.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nanoomni_description)/urdf/nanoomni_description.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
